/* ---------- IMPORTED FONT STYLES ---------- */
@font-face {
    font-family: 'Hellix';
    src: url('https://assets.codepen.io/6060109/Hellix-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Hellix';
    src: url('https://assets.codepen.io/6060109/Hellix-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hellix';
    src: url('https://assets.codepen.io/6060109/Hellix-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Hellix';
    src: url('https://assets.codepen.io/6060109/Hellix-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Hellix';
    src: url('https://assets.codepen.io/6060109/Hellix-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Hellix';
    src: url('https://assets.codepen.io/6060109/Hellix-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Hellix';
    src: url('https://assets.codepen.io/6060109/Hellix-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Hellix';
    src: url('https://assets.codepen.io/6060109/Hellix-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Hellix';
    src: url('https://assets.codepen.io/6060109/Hellix-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Hellix';
    src: url('https://assets.codepen.io/6060109/Hellix-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Hellix';
    src: url('https://assets.codepen.io/6060109/Hellix-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Hellix';
    src: url('https://assets.codepen.io/6060109/Hellix-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Hellix';
    src: url('https://assets.codepen.io/6060109/Hellix-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Hellix';
    src: url('https://assets.codepen.io/6060109/Hellix-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Hellix';
    src: url('https://assets.codepen.io/6060109/Hellix-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Hellix';
    src: url('https://assets.codepen.io/6060109/Hellix-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* ---------- DEFAULT SETTINGS ---------- */
*, *::before, *::after {
    box-sizing: border-box;
    border-style: none;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    --theme-color-black-text: #111235; /* rgba(17, 18, 53, 1) */
    --theme-color-blue-light: #F2F8FF; /* rgba(242, 248, 255, 1) */
    --theme-color-blue: #436BAA; /* rgba(67, 107, 170, 1) */
    --theme-color-blue-pastel: #E4F0FF; /* rgba(228, 240, 255, 1) */
    --theme-color-purple: #4B5092; /* rgba(75, 80, 146, 1) */
    --theme-color-purple-pastel: #727AEF1A; /* rgba(114, 122, 239, 0.1) */
    --theme-color-white: #FFFFFF; /* rgba(255, 255, 255, 1) */
    --theme-color-off-white: #E5E5E5;

}
  
/* ---------- HTML TAG DECLERATIONS ---------- */
html, body {
    color: var(--theme-color-black-text);
    font-family: "Hellix";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    height: 100%;
    max-width: 100%;
    min-height: 100%;
    min-width: 320px;
    overflow-x: hidden;
    /* overflow hidden is necessary because the image in the hero section has been transformed to outside the width of the page; it was moved there for visual asthetics, and should be the only element branching outside the viewport. */
    text-align: center;
    width: 100%;
}

body {
    background: linear-gradient(7.28deg, #d3e5ff 0%, #FFFFFF 50%, #FFFFFF 99.69%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    background-color: var(--theme-color-white);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    height: 75px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    max-width: 100%;
    z-index: 10;
}

main, footer {
    margin: 0 auto;
    
}

section, footer {
    display: flex;
    flex-direction: column;
    height: inherit;
    justify-content: space-around;
    margin-top: 7.5rem;
    position: relative;
}

footer {
    margin-top: 5.5rem;
    height: auto;
}

hr {
    background-color: rgba(17, 18, 53, .2);
    height: 1px;
    margin: 0 1rem;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--theme-color-black-text);
    font-family: "Hellix";
    font-style: normal;
    font-weight: 500;
    line-height: auto;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.875rem;
    width: 15rem;
}

h4 {
    font-size: 1.125rem;
}

h6 {
    font-size: .8rem;
    font-weight: 600;
    line-height: 1.5rem;
}

p {
    font-weight: 500;
    line-height: 1.5rem;
}

img {
    max-width: 100%;
}

button {
    background-color: var(--theme-color-white);
    border-radius: 35px;
    color: var(--theme-color-blue);
    cursor: pointer;
    font-family: inherit;
    font-size: 18px;
    font-weight: 600;
    padding: 19px 0px;
    width: 252px;
}

a, a:visited {
    color: inherit;
}

/* ---------- MAIN BODY DECLERATIONS ---------- */
/* Specifying which segments of the landing page have a max-width; the trainer-section has no max-width, but it's contents do. */
#article1, #article2, #article4, #trainer-section .section-content-wrap, footer {
    max-width: 1200px;
    margin: 0 auto;
    max-width: 600px;
}

#first-section {
    margin-top: 75px;
}

#article3 {
    background: linear-gradient(99.85deg, #BAD5FF 0%, #6487BF 100%);
}

#trainer-section h4 {
    margin-top: .5rem;
}

#trainer-section button {
    margin-bottom: 1.5rem;
}

#section4 h2 {
    width: 18rem;
}

#section4 button {
    margin-bottom: 5rem;
}

#header-navigation {
    display: none;
}

#footer-navigation {
    margin: 0;
}

.header-section {
    margin: 0;
}

.header-title {
    font-size: 2rem;
}

.bold-text {
    font-weight: 700;
}

.section-content-wrap {
    margin: 1rem;
}

.section-content-wrap > *, .section-content-wrap button {
    margin-top: 2rem;
}

.colored-bubble-wrap {
    border-radius: 2rem;
    padding: 3.125rem 2.625rem;
    margin: 0 auto;
    margin-top: 1rem;
    max-width: 26rem;
    min-width: 18rem;
}

.colored-bubble-wrap h3 {
    margin-bottom: 1.25rem;
}

.background-blue-light {
    background-color: var(--theme-color-blue-light);
}

.background-blue-pastel {
    background-color: var(--theme-color-blue-pastel);
}

.background-purple-pastel {
    background-color: var(--theme-color-purple-pastel);
}

.text-left {
    text-align: left;
}

.btn-purple {
    background-color: var(--theme-color-purple);
    color: var(--theme-color-white);
}

.footer h6 {
    margin-bottom: 5.5rem;
}

.email-form-wrap {
    margin: 2rem auto;
    width: 16rem;
}

.email-form-wrap > * {
    margin: 1rem auto;
}

.email-form {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin: 1.75rem auto 1rem;
    position: relative;
}

.email-form > * {
    margin: 1rem 0;
}

.input-submit-wrap {
    align-items: center;
    bottom: 0;
    display: flex;
    height: inherit;
    justify-content: space-around;
    right: 0;
    width: 3rem;
    z-index: 3;
}

.email-form .input-email {
    border-radius: .5rem;
    padding: 1rem;
    width: 16rem;
}

.input-email {
    box-shadow: 2px 2px 5px rgba(17, 18, 53, .1);
    color: var(--theme-color-black-text);
    font-family: 'Hellix';
    font-weight: 400;
    font-size: .875rem;
    position: absolute;
}

.input-email::placeholder {
    color: var(--theme-color-black-text);
}

.input-email:focus {
    border: solid 2px rgba(67, 107, 170, .5);
    outline: none;
}

.icons-container {
    display: flex;
    justify-content: center;
    max-width: 70%;
    margin: 0 auto;
}

.icon-button {
    height: 1.2rem;
    position: absolute;
    width: 1.2rem;
    z-index: 5;
    /* This icon has no submission functionality; it is for display only, but it sits below the submission input on the z-index, giving the appearance of a button. */
}

.input-submit {
    height: 1rem;
    opacity: 0;
    width: 1rem;
    z-index: 10;
    /* This submission input sits invisibly on top of the desired send icon. */
}

.icon-blue {
    background: rgba(128, 173, 245, .1);
    border-radius: 50%;
    padding: .5rem;
    margin: .5rem;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    body {
        background: var(--theme-color-white);
    }

    main, footer {
        margin: 0 auto;
        max-width: none;
    }

    header {
        box-shadow: none;
    }

    /* Specifying which segments of the landing page have a max-width; the trainer-section has no max-width, but it's contents do. */
    #article1, #article2, #trainer-section, #article4, footer {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 2.5rem;
    }

    #header-navigation {
        display: flex;
    }

    #header-navigation-wrap {
        display: flex;
    }

    #header-navigation-wrap li {
        margin: 0 1rem;
    }

    #icon-search-wrap {
        display: flex;
        align-items: center;
    }

    #first-section, #section2, #trainer-section, #section4 {
        align-items: center;
        justify-content: space-between;
        display: flex;
        flex-direction: row-reverse;
        margin: 0 auto;
        margin-top: 5.5rem;
    }

    #first-section .section-content-wrap {
        text-align: left;
        margin-left: 0;
        width: 45%;
    }
    
    #first-section h1, .section-content-wrap h2 {
        margin-top: 0;
    }
    
    #first-section img {
        width: 55%;
        transform: translate(8%, 5%);
    }
    
    #section2 {
        background: none;
        flex-direction: row;
        justify-content: space-around;
        max-width: 70.75rem;
    }

    #section2 .section-content-wrap {
        background-color: var(--theme-color-blue-light);
        border-radius: 2rem;
        padding: 2rem;
        width: 45%;
    }

    #section2 img {
        width: 55%;
    }
    
    #trainer-section {
        justify-content: space-around;
        margin-top: 4rem;
        text-align: left;
        width: 90%;
    }

    #trainer-section .section-content-wrap {
        margin: 0 0 0 6rem;
        width: 45%;
    }

    #trainer-section img {
        width: 55%;
    }

    #section4 {
        margin-bottom: 4.5rem;
    }

    #section4 .section-content-wrap {
        position: relative;
        margin: .5rem;
        width: auto;
    }

    #section4 h2 {
        width: 100%;
    }

    #section4 h3 {
        width: auto;
    }

    #section4 button {
        margin: .8rem;
        position: absolute;
        right: 0;
        top: 0;
    }

    #section4 img {
        transform: translate(0, 10%);
        width: 33.25%;
    }
    
    .colored-bubble-wrap-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
    }

    .colored-bubble-wrap {
        width: 47.25%;
        min-width: none;
        padding: 2rem;
        margin: .5rem .25rem;
    }

    .header-section {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1200px;
        padding: 0 2rem;
    }

    .header-section nav {
        display: flex;
    }

    .footer .section-content-wrap {
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 4rem;
        text-align: left;
    }

    .footer h2 {
        margin: 0;
    }

    .footer nav, .footer li, .footer h4 {
        margin: 0;
    }

    .footer nav {
        display: flex;
        flex-direction: row;
    }

    .footer li {
        margin: .5rem 3rem;
    }

    .footer h6 {
        text-align: left;
        margin-left: 1rem;
    }

    .footer #footer-navigation {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0;
    }

    .footer .email-form-wrap {
        margin: 0;
    }

    .icons-container {
        display: none;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}