@font-face {
    font-family: 'Hellix';
    src: url('https://assets.codepen.io/6060109/Hellix-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Hellix';
    src: url('https://assets.codepen.io/6060109/Hellix-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hellix';
    src: url('https://assets.codepen.io/6060109/Hellix-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Hellix';
    src: url('https://assets.codepen.io/6060109/Hellix-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Hellix';
    src: url('https://assets.codepen.io/6060109/Hellix-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Hellix';
    src: url('https://assets.codepen.io/6060109/Hellix-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Hellix';
    src: url('https://assets.codepen.io/6060109/Hellix-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Hellix';
    src: url('https://assets.codepen.io/6060109/Hellix-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Hellix';
    src: url('https://assets.codepen.io/6060109/Hellix-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Hellix';
    src: url('https://assets.codepen.io/6060109/Hellix-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Hellix';
    src: url('https://assets.codepen.io/6060109/Hellix-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Hellix';
    src: url('https://assets.codepen.io/6060109/Hellix-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Hellix';
    src: url('https://assets.codepen.io/6060109/Hellix-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Hellix';
    src: url('https://assets.codepen.io/6060109/Hellix-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Hellix';
    src: url('https://assets.codepen.io/6060109/Hellix-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Hellix';
    src: url('https://assets.codepen.io/6060109/Hellix-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

*, *::before, *::after {
    box-sizing: border-box;
    border-style: none;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
  
:root {
    --theme-color-black: #333333; /* rgba(51, 51, 51, 1) */
    --theme-color-brown: #423A3A; 
    --theme-color-red: #CD3A24;
    --theme-color-white: #FEFFFF; /* rgba(254, 255, 255, 1) */
}
  
/* ---------- MAIN BODY DECLERATIONS ---------- */

html, body {
    background-color: var(--theme-color-white);
    font-family: "Montserrat";
    font-size: 14px;
    height: 100%;
    width: 100%;
}

/* RECOMMENDED: BEGIN WITH MOBILE FIRST DESIGN */




/* MEDIA QUERY TEMPLATE FROM https://www.w3schools.com/css/css_rwd_mediaqueries.asp */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}